<!DOCTYPE html>
<html>
  <section id="page">
  <head>
    <title>{{ post['post_title'] }}</title>
    <link rel="stylesheet" href="./assets/sn4s_styles.css">
  </head>
  <body>
    <layout-header></layout-header>
    <!-- main -->
    <layout-main>
        <div id="post">
          <div id="post-title">
            <h1> {{ post['post_title'] }} </h1>
          </div>
          <div id="post-body">
            {% for title in post['titles'][1:] %} {# need escape the post_title #}
            {% if title == 'Footnotes' %} <!-- add '.footnotes' class if it's a footnotes para -->
              <article class="para_block footnotes">
            {% else %}
              <article class="para_block">
            {% endif %}
            <h2 id="{{ post['title_id'][title] }}">{{ title }}</h2>
              {% for para in post[post['title_id'][title]] %}
              <p>{{ para }}</p>
              {% endfor %}
            </article>
            {% endfor %}
          </div>
        </div>
    </layout-main>
    <!-- moc -->
    <layout-left>
      <div class="moc">
        {% for title in post['titles'][1:] %}
        <div class="moc_level1">
          <a href="#{{ post['title_id'][title] }}">
            <span>{{ title }}</span>
          </a>
        </div>
        {% endfor %}
      </div>
    </layout-left>
    <!-- side -->
    <layout-side>
        <div id="right-foot">
        {% for footnote in post['footnotes'].keys() %}
        <article id="{{ post['footnotes'][footnote] }}" class="side-note">{{ footnote }}</article>
        {% endfor %}
        </div>
    </layout-side>
    <!-- foot -->
    <layout-footer>
      <footer>
        aLai 2022
      </footer>
    </layout-footer>
  </body>
  </section>
  <script src="./assets/sn4s_scripts.js"></script>
</html>
