#post {
  padding-right: 70px;
  padding-left: 65px;
}

#post-body {
  padding-top: 30px;
}

html{
  scroll-behavior: smooth;
}

body {
  background: #feffef;
}

h1 {
    font-size: 2.4em;
    font-family: auto;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    text-transform: uppercase;
    letter-spacing: -0.03em;
}

h2 {
    font-size: 1.5em;
    padding-top: 0;
    color: #404040;
    -webkit-font-smoothing: antialiased;
}

#post-body p {
    line-height: 1.4em;
    font-family: "KaiTi Sc";
    font-size: 1.5em;
    text-align: justify;
    -webkit-font-smoothing: antialiased;
    margin-top: -0.3em;
    font-weight: 500;
}

.para_block {
  padding-top: 0.6em;
}

.has-note:hover > sup {
  /* border-bottom: 2px solid #c0c0c0;  */
  text-decoration: #ff0000 solid underline;
  font-weight: 700;
}

.has-note:hover > .note-text {
  background: #e5ffe9;
  transition: background linear 0.3s;
}

sup {
    position: relative;
    top: -0.3em;
    font-size: 60%;
    font-weight: 700;
    margin-left: 4px;
    /* font-family: system-ui; */
}

footer {
  text-align: center;
  padding-right: 200px;
  padding-left: 150px;
  font-size: 1.2em;
  padding-top: 4em;
  padding-bottom: 4em;
  font-family: monospace;
  color: #999;
}
.moc {
    top: 218px;
    height: 80vh;
    position: sticky;
    direction: rtl;
    text-align: left;
    overflow-y: auto;
    padding-right: 35px;
}

.moc_level1 {
    padding-top: 5px;
    text-align: right;
    font-family: system-ui;
    font-size: 1em;
    -webkit-font-smoothing: antialiased;
}

.moc a {
  color: #999;
  text-decoration: auto;
}

.side-note {
    width: 250px;
    font-family: monospace;
    font-size: 1.3em;
    -webkit-font-smoothing: antialiased;
    line-height: 24px;
    color: #555;
    text-align: justify;
    position: absolute;
    opacity: 0;
    transition: opacity linear 0.3s;
}

#right-foot {
  margin-left: -40px;
}

#page {
  display: grid;
  width: 1280px;
  grid-template-areas: "head head head"
                       "left main side"
                       "foot foot foot";
  grid-template-rows: 50px 1fr 30px;
  grid-template-columns: 200px 1fr 300px;
}

#page > layout-header {
  grid-area: head;
}

#page > layout-left {
  grid-area: left;
}

#page > layout-main {
  grid-area: main;
}

#page > layout-side {
  grid-area: side;
}

#page > layout-footer {
  grid-area: foot;
}
